
<section id="equipo" class="equipo">
    <div class="card">
        <div class="content">
            <span></span>
            <div class="img">
                <img src="../../../css/media/Juan Ignacio Valle 2 git hub.jpg" alt="">
            </div>
            <h4>Juan Ignacio Valle</h4>
            <h6>Front-End</h6>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quos nesciunt officiis incidunt esse dolor laudantium labore et. Ipsum quae in tempora, reprehenderit quia a veritatis excepturi. Quasi, repudiandae voluptatem! 
            </p>
        </div>
        <div class="links-iconos">
            <a href="#"> <i class="fa-brands fa-instagram" ></i></a>
            <a href="#"> <i class="fa-brands fa-twitter" ></i></a>
            <a href="#"> <i class="fa-brands fa-github" ></i></a>
            <a href="#"> <i class="fa-brands fa-linkedin" ></i></a>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <span></span>
            <div class="img">
                <img src="../../../css/media/Juan Ignacio Valle 2 git hub.jpg" alt="">
            </div>
            <h4>Juan Ignacio Valle</h4>
            <h6>Front-End</h6>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quos nesciunt officiis incidunt esse dolor laudantium labore et. Ipsum quae in tempora, reprehenderit quia a veritatis excepturi. Quasi, repudiandae voluptatem! 
            </p>
        </div>
        <div class="links-iconos">
            <a href="#"> <i class="fa-brands fa-facebook-f" ></i></a>
            <a href="#"> <i class="fa-brands fa-twitter" ></i></a>
            <a href="#"> <i class="fa-brands fa-github" ></i></a>
            <a href="#"> <i class="fa-brands fa-linkedin" ></i></a>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <span></span>
            <div class="img">
                <img src="../../../css/media/Juan Ignacio Valle 2 git hub.jpg" alt="">
            </div>
            <h4>Juan Ignacio Valle</h4>
            <h6>Front-End</h6>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quos nesciunt officiis incidunt esse dolor laudantium labore et. Ipsum quae in tempora, reprehenderit quia a veritatis excepturi. Quasi, repudiandae voluptatem! 
            </p>
        </div>
        <div class="links-iconos">
            <a href="#"> <i class="fa-brands fa-facebook-f" ></i></a>
            <a href="#"> <i class="fa-brands fa-twitter" ></i></a>
            <a href="#"> <i class="fa-brands fa-github" ></i></a>
            <a href="#"> <i class="fa-brands fa-linkedin" ></i></a>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <span></span>
            <div class="img">
                <img src="../../../css/media/Juan Ignacio Valle 2 git hub.jpg" alt="">
            </div>
            <h4>Juan Ignacio Valle</h4>
            <h6>Front-End</h6>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quos nesciunt officiis incidunt esse dolor laudantium labore et. Ipsum quae in tempora, reprehenderit quia a veritatis excepturi. Quasi, repudiandae voluptatem! 
            </p>
        </div>
        <div class="links-iconos">
            <a href="#"> <i class="fa-brands fa-facebook-f" ></i></a>
            <a href="#"> <i class="fa-brands fa-twitter" ></i></a>
            <a href="#"> <i class="fa-brands fa-github" ></i></a>
            <a href="#"> <i class="fa-brands fa-linkedin" ></i></a>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <span></span>
            <div class="img">
                <img src="../../../css/media/Juan Ignacio Valle 2 git hub.jpg" alt="">
            </div>
            <h4>Juan Ignacio Valle</h4>
            <h6>Front-End</h6>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quos nesciunt officiis incidunt esse dolor laudantium labore et. Ipsum quae in tempora, reprehenderit quia a veritatis excepturi. Quasi, repudiandae voluptatem! 
            </p>
        </div>
        <div class="links-iconos">
            <a href="#"> <i class="fa-brands fa-facebook-f" ></i></a>
            <a href="#"> <i class="fa-brands fa-twitter" ></i></a>
            <a href="#"> <i class="fa-brands fa-github" ></i></a>
            <a href="#"> <i class="fa-brands fa-linkedin" ></i></a>
        </div>
    </div>
</section>